In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import os
import requests
# Import the API key.
from config import g_key

In [6]:
cities_df=pd.read_csv(os.path.join("Weather_Data","cities.csv"))
cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-12-01 02:32:14,-53.1500,-70.9167,51.91,62,75,5.75
1,1,Hermanus,ZA,2021-12-01 02:27:22,-34.4187,19.2345,58.89,84,11,8.63
2,2,Lavrentiya,RU,2021-12-01 02:32:15,65.5833,-171.0000,-13.99,88,3,8.61
3,3,Rikitea,PF,2021-12-01 02:32:15,-23.1203,-134.9692,76.24,77,0,20.62
4,4,Butaritari,KI,2021-12-01 02:27:20,3.0707,172.7902,82.11,76,90,8.14

In [7]:
cities_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [27]:
# Get the maximum temperature.
max_temp = cities_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [28]:
#assign locations to array of lat, lon pairs
locations=cities_df[["Lat","Lng"]]

# assign the weights variable to some values
#temperature=abs(cities_df["Max Temp"])

#assign figure variable to gmaps.figure() attribute
fig=gmaps.figure()

#Assign heatmap layer
heatmap_layer=gmaps.heatmap_layer(locations,weights=temps)

#add heatmap layer
fig.add_layer(heatmap_layer)

#call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))