In [42]:
# Import the dependencies.
import pandas as pd
import gmaps
import os
import requests
# Import the API key.
from config import g_key

In [43]:
city_data_df=pd.read_csv(os.path.join("Weather_Data","cities.csv"))
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-12-01 02:32:14,-53.1500,-70.9167,51.91,62,75,5.75
1,1,Hermanus,ZA,2021-12-01 02:27:22,-34.4187,19.2345,58.89,84,11,8.63
2,2,Lavrentiya,RU,2021-12-01 02:32:15,65.5833,-171.0000,-13.99,88,3,8.61
3,3,Rikitea,PF,2021-12-01 02:32:15,-23.1203,-134.9692,76.24,77,0,20.62
4,4,Butaritari,KI,2021-12-01 02:27:20,3.0707,172.7902,82.11,76,90,8.14

In [44]:
cities_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
# Get the maximum temperature.
max_temp = cities_df["Max Temp"]
max_temp = [max(temp, 0) for temp in max_temp]

In [50]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, 
                                max_intensity=300, 
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=[max(c, 0) for c in clouds], 
                                dissipating=False, 
                                max_intensity=300, 
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
winds = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=[max(w, 0) for w in winds], 
                                dissipating=False, 
                                max_intensity=300, 
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [65]:
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp)&(city_data_df["Max Temp"]<=max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2021-12-01 02:32:15,-23.1203,-134.9692,76.24,77,0,20.62
4,4,Butaritari,KI,2021-12-01 02:27:20,3.0707,172.7902,82.11,76,90,8.14
7,7,Vaini,TO,2021-12-01 02:32:16,-21.2000,-175.2000,82.56,83,40,10.36
12,12,Atuona,PF,2021-12-01 02:32:18,-9.8000,-139.0333,79.00,76,4,20.58
17,17,Grand Baie,MU,2021-12-01 02:32:20,-20.0182,57.5802,77.47,78,2,1.99

In [68]:
preferred_cities_df.notnull().sum()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [69]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3      Rikitea      PF     76.24 -23.1203 -134.9692
4   Butaritari      KI     82.11   3.0707  172.7902
7        Vaini      TO     82.56 -21.2000 -175.2000
12      Atuona      PF     79.00  -9.8000 -139.0333
17  Grand Baie      MU     77.47 -20.0182   57.5802
19       Kribi      CM     78.58   2.9500    9.9167
23      Faanui      PF     82.18 -16.4833 -151.7500
24      Hobart      AU     87.03 -42.8794  147.3294
25   Carnarvon      AU     75.27 -24.8667  113.6333
28        Hilo      US     80.33  19.7297 -155.0900

In [70]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}